* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* INÍCIO DO HEADER */
.nav-bg {
  background-color: #181818;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.nav-list a {
  text-decoration: none;
  padding: 20px;
  color: #ddd;
}

.nav-list a:hover {
  color: #ffffff;
}
/* FIM DO HEADER */

/* INÍCIO DO MAIN */
.main-section {
  background-color: #000;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(./images/programador.png);
  padding-left: 10%;
}

.main-section h1 {
  color: #ffffff;
  font-size: 54px;
}

.main-section p {
  color: #1e96fc;
  font-style: italic;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.buttonProj {
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  transition: 0.9s;
}

.buttonProj:hover {
  transform: scale(1.1);
}
/* FIM DO MAIN */

/* INÍCIO DO ABOUT */
.about-section {
  background-color: #ffffff;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section div {
  margin-right: 40px;
  max-width: 50%;
}

.about-section h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about-section img {
  max-width: 450px;
  border-radius: 5px;
}
/* FIM DO ABOUT */

/* INICIO DOS PROJETOS */
.project-section {
  width: 100%;
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section h1 {
  margin-bottom: 15px;
  font-size: 30px;
}

.project-section p {
  margin-bottom: 40px;
  font-style: italic;
  color: #1e96fc;
  font-weight: bold;
}

.project-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.project-list img {
  width: 22%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  opacity: 0.8;
  transition: 0.9s;
}

.project-list img:hover {
  opacity: 1;
}

.action {
  background-color: #181818;
  padding: 12px 28px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}
/* FIM DOS PROJETOS */

/* INÍCIO FOOTER */
footer {
  width: 100%;
  background-color: #181818;
  padding: 50px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

footer p {
  color: #ffffff;
  margin-left: 5px;
  font-size: 20px;
}
/* FIM FOOTER */

/* INÍCIO DA RESPONSIVIDADE */
@media (max-width: 1050px) {
  .main-section {
    background-size: cover;
  }

  .project-list img {
    width: 27.3%;
  }
}

@media (max-width: 875px) {
  .about-section {
    flex-direction: column;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .about-section div {
    max-width: 80%;
  }

  .about-section img {
    max-width: 80%;
    margin-top: 30px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 390px) {
  .main-section h1 {
    font-size: 35px;
  }

  .main-section p {
    font-size: 18px;
  }

  .buttonProj {
    padding: 9px;
  }

  footer a,
  footer p {
    font-size: 18px;
  }
}
